*{
    transition: all 0.2s ease 0s;

    padding: 0;
    margin: 0;

    text-align: justify;
    font-family: "Comfortaa";

    list-style-type: none;
}

@font-face {
	font-family: 'Comfortaa';
	src: url('fonts/Comfortaa-Regular.woff');
}

body{
    background-color: #363636;
}

.topPanel{
    height: 80px;
    background-color: #1e1e1e;
    box-shadow: 0px 0px 20px 6px #1e1e1ea6;
}
.navPanel{
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    /* background-color: #666666; */
}

.navPanel ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navPanel li {
    display: inline-block;
}

.navPanel li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 18px;
    text-decoration: none;
}

/* li a:hover:not(.button) {
    color: #ff77f4;
} */

.navPanel li :hover{
    transform: translate(0px, 4px);
}

.navMid{
    margin-left: 10%;
    margin-right: 21%;
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    /* margin-left: 600px; */
    background-color: #cc2828;
    border-radius: 16px;
}

.rightElement{
    float: right;
}

.button:hover{
    /* transform: translate(0px, 4px); */
    background-color: #ee4a4a;
}

.main{
    width: 100%;
    /* height: 83%; */

    height: 84vh;

    display: flex;
    justify-content: center;
    align-items: center;

    /* position: absolute; */
    /* top: 30%; */
}

.mainBlock{
    backdrop-filter: blur(15px);
    background: #1e1e1e;
    color: white;

    box-shadow: 0px 0px 36px 6px rgba(255, 255, 255, 0.068);

    /* width: 56%; */

    /* margin-top: 20px; */
    /* height: 80%; */
    /* padding: 20px; */

    /* position: absolute; */
    /* top: 30%; */

    border-radius: 32px;
}

.content{
    margin: 20px;
}

.topContent{
    display: flex;
    justify-content: center;
    align-items: center;
}
.midContent{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 25px;
    margin-bottom: 25px;
}
.botContent{
    display: flex;
    justify-content: center;
    align-items: center;
}
.map{
    border-radius: 24px;
}

.mid td{
    padding-left: 10px;
    padding-bottom: 10px;
}


.info{
    margin: 0 auto;
    font-size: 22px;
    text-align: center;
    text-decoration: none;
}

.footer{
    width: 100%;
    height: 80px;

    background: #1e1e1e;

    margin-top: auto;

    color: rgba(255, 255, 255, 0.720);
}

.footerContent{
    /* background-color: #700000; */
    height: 100%;

    margin: auto;

    display: flex;
    
    align-items: center;
    justify-content: center;
}
.footerContent p{
    text-align: center;
    font-size: 12px;
}

.fullscreen-bg {
    overflow: hidden;
    z-index: -100;
    position: fixed;
    height: 100%;
    width: 100%;
}
 
.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
