*{
    transition: all 0.2s ease 0s;

    padding: 0;
    margin: 0;

    color: 1e1e1e;
    text-align: justify;
    font-family: "Comfortaa";

    list-style-type: none;
}

@font-face {
	font-family: 'Comfortaa';
	src: url('fonts/Comfortaa-Regular.woff');
}

body{
    background-color: #363636;
}

.topPanel{
    height: 80px;
    background-color: #1e1e1e;
    
}
.navPanel{
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    /* background-color: #666666; */
}

.navPanel ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navPanel li {
    display: inline-block;
}

.navPanel li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 18px;
    text-decoration: none;
}

/* li a:hover:not(.button) {
    color: #ff77f4;
} */

.navPanel li :hover:not(.button){
    transform: translate(0px, 4px);
    color: #ffa9a9;
}

.button {
    margin-left: 600px;
    background-color: #cc2828;
    border-radius: 16px;
}

.rightElement{
    float: right;
}

.button:hover{
    transform: translate(0px, 4px);
    background-color: #ee4a4a;
}

.main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    /* top: 30%; */
}

.mainBlock{
    backdrop-filter: blur(15px);
    background: #1e1e1e;
    color: white;

    box-shadow: 0px 0px 36px 6px rgba(255, 255, 255, 0.068);

    width: 56%;
    /* height: 100%; */
    margin: 20px;
    padding: 20px;

    /* position: absolute;
    top: 30%; */

    border-radius: 32px;
}

.content{
    margin: 20px;
}

.top{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mid{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 25px;
}
.mid tr{
    margin-top: 10px;
}
.mid td{
    padding-left: 10px;
}


.info{
    margin: 0 auto;
    font-size: 22px;
    text-align: center;
    text-decoration: none;
}


.fullscreen-bg {
    overflow: hidden;
    z-index: -100;
    position: fixed;
    height: 100%;
    width: 100%;
}
 
.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
