*{
    transition: all 0.2s ease 0s;

    padding: 0;
    margin: 0;

    text-align: justify;
    font-family: "Comfortaa";

    list-style-type: none;
}

@font-face {
	font-family: 'Comfortaa';
	src: url('../fonts/Comfortaa-Regular.woff');
}

body{
    background-color: #363636;
}

.topPanel{
    height: 80px;
    max-height: 100%;
    
    background-color: #1e1e1e;
    box-shadow: 0px 0px 20px 6px #1e1e1ea6;

    margin-bottom: 20px;
}
.navPanel{
    margin-left: auto;
    margin-right: auto;
    padding: 10px auto;
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;

    /* background-color: #666666; */
}

.navPanel ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
}

.navPanel li {
    display: inline-block;
}

.navPanel li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 18px;
    text-decoration: none;
}
#selectedNav a{
    color: #ff2e2e;
}
#selectedNav :hover{
    color: #ffc1c1;
}

/* li a:hover:not(.button) {
    color: #ff77f4;
} */

.navPanel li :hover{
    transform: translate(0px, 2px);
}

.navMid{
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 20%;

    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    /* margin-left: 600px; */
    background-color: #cc2828;
    border-radius: 16px;
}

.navRight{
    float: right;

    margin-left: 50%;
}

.button:hover{
    /* transform: translate(0px, 4px); */
    background-color: #ee4a4a;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainBlock{
    /* width: 552px; */
    max-width: 100%;
    margin: auto 20%;

    backdrop-filter: blur(15px);
    background: #1e1e1e;
    color: white;

    box-shadow: 0px 0px 36px 6px rgba(255, 255, 255, 0.068);

    border-radius: 32px;
}

.content{
    margin: 20px;
}

.topContent{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topContent h1{
    margin-bottom: 13px;
}
.midContent{
    margin-top: 20px;
    margin-bottom: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.topContent a{
    color: white;
    text-decoration: none;
}

.topContent a:hover{
    color: rgb(255, 144, 144);
    transform: translate(0px, 2px);
}
.botContent{
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
}

.productCards{
    margin: 10px;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.mainCards{
    margin: 0px auto;
    padding: 10px;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto;
}
.productCards a{
    color: rgb(209, 209, 209);
    text-decoration: none;
}
.card{
    margin-bottom: 14px;
    padding: 0.6vh;
}
.card h4{
    text-align: center;
}
.card:hover{
    transform: translate(0px, 4px);
}

.card img{
    border-radius: 24px;
    width: 15rem;
}
.map{
    border-radius: 24px;
}

.info{
    margin: 0 auto;
    font-size: 22px;
    text-align: center;
    text-decoration: none;
}

.info p, img{
    margin-bottom: 10px;
}

.gallery{
    margin: 10px;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.grid-item{
    margin: 0.6vh;
}
.grid-item:hover{
    transform: translate(0px, 4px);
}
.grid-item img{
    border-radius: 24px;
}

.footer{
    width: 100%;
    height: 80px;

    background: #1e1e1e;

    margin-top: 20px;

    color: rgba(255, 255, 255, 0.720);
}

.footerContent{
    /* background-color: #700000; */
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.footerContent p{
    text-align: center;
    font-size: 12px;
}

.fullscreen-bg {
    overflow: hidden;
    z-index: -100;
    position: fixed;
    height: 100%;
    width: 100%;
}
 
.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
